.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(252, 240, 240, 0.425);
}

.expanded-row-content {
    max-height: 150px; 
    overflow-y: auto;
    padding: 10px;
    white-space: pre-wrap; 
  }
  